* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #374151;
  color: #EEE;
}

header {
  padding: 2.25rem 0.75rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #6B7280;
  margin-bottom: 1rem;
}
header #new-task-input {
  flex: 1 1 0%;
  background-color: #111829;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  min-width: 78%;
  color: #EEE;
  font-size: 2rem;
}
header #new-task-input::placeholder {
  color: #6B7280;
}
header #new-task-submit {
  color: #EC4899;
  font-size: 2rem;
  font-weight: 700;
  background-image: -webkit-linear-gradient(right, #EC4899, #885CF6);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  transition: 0.4s;
}
header #new-task-submit:hover {
  opacity: 0.8;
}
header #new-task-submit:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  padding: 2.25rem 0.75rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
main h2 {
  font-size: 2rem;
  font-weight: 300;
  color: #6B7280;
  margin-bottom: 1rem;
}
main #tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: #111;
  padding: 1.5rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}
main #tasks .task .content .text {
  color: #EEE;
  font-size: 2rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}
main #tasks .task:not(:read-only) {
  color: #EC4899;
}
main #tasks .task .actions {
  display: flex;
  margin: 0 -0.5rem;
}
main #tasks .task button {
  cursor: pointer;
  margin: 0 -0.5rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
main #tasks .task:hover {
  opacity: 0.8s;
}
main #tasks .task:active {
  opacity: 0.6s;
}
main #tasks .task .edit {
  background-image: -webkit-linear-gradient(right, #EC4899, #885CF6);
  -webkit-background-clip: text;
  color: transparent;
  padding: 0px 2rem;
  font-size: 1.2rem;
}
main #tasks .task .delete {
  color: crimson;
  padding: 0px 2rem;
  font-size: 1.2rem;
}

input, button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}