// reset styles
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}


a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

hr {
    border: 0;
    border-top: 1px dotted #efefef;
}

img {
    max-width: 100%;
}

.container {
    // display: flex;
    // flex-direction: column;
    // min-height: 150vh;
    // background-color: $darker;
    // color: white;
    // padding: 1rem;
    // width: min(25rem, 100%, 40rem);
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    min-height: 150vh;
    background-color: $darker;
    color: white;

    // @include xxl {
    //     width: clamp(28rem, 100%, 360rem);
    // }
}